@model ProjectTraining.Models.Kind

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<aside>
    <div id="sidebar" class="nav-collapse">

        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a href="/Admin/Orders">
                        <i class="fas fa-wallet"></i>
                        <span>Quản lý đơn hàng</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Products">
                        <i class="fa fa-book"></i>
                        <span>Quản lý sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Kinds" class="active">
                        <i class="fas fa-list-alt"></i>
                        <span>Quản lý danh mục</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Users">
                        <i class="fa fa-user"></i>
                        <span>Quản lý người dùng</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Comments">
                        <i class="fas fa-comment"></i>
                        <span>Quản lý bình luận</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Discounts">
                        <i class="fas fa-address-book"></i>
                        <span>Quản lý giảm giá</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Warehouses">
                        <i class="fas fa-address-book"></i>
                        <span>Quản lý kho</span>
                    </a>
                </li>
                <li>
                    <form action="@Url.Action("HandleLogout", "Login", new { area = "Admin" })" method="post">
                        <input class="inputLogout" type="submit" value="Đăng xuất" />
                    </form>
                </li>
            </ul>
        </div>
    </div>
</aside>
<!--main content start-->
<section id="main-content">
    <section class="wrapper" id="adminContent">
        <form action="@Url.Action("Edit", "Kinds", new { area = "Admin" })" class="form-add" method="post">
            <input type="number" name="KindId" value="@Model.KindId" style="display:none" />
            <input type="text" name="CreateDate" value="@Model.CreateDate" style="display:none" />
            <p>Tên mục sản phẩm</p>
            <input name="KindName" type="text" class="input_el" value="@Model.KindName" id="nameCategory" required>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </section>
</section>
