@model ProjectTraining.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<aside>
    <div id="sidebar" class="nav-collapse">

        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a href="/Admin/Orders">
                        <i class="fas fa-wallet"></i>
                        <span>Quản lý đơn hàng</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Products/" class="active">
                        <i class="fa fa-book"></i>
                        <span>Quản lý sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Kinds">
                        <i class="fas fa-list-alt"></i>
                        <span>Quản lý danh mục</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Users">
                        <i class="fa fa-user"></i>
                        <span>Quản lý người dùng</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Comments">
                        <i class="fas fa-comment"></i>
                        <span>Quản lý bình luận</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Discounts">
                        <i class="fas fa-address-book"></i>
                        <span>Quản lý giảm giá</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Warehouses">
                        <i class="fas fa-address-book"></i>
                        <span>Quản lý kho</span>
                    </a>
                </li>
                <li>
                    <form action="@Url.Action("HandleLogout", "Login", new { area = "Admin" })" method="post">
                        <input class="inputLogout" type="submit" value="Đăng xuất" />
                    </form>
                </li>
            </ul>
        </div>
    </div>
</aside>
<!--main content start-->
<section id="main-content">
    <section class="wrapper" id="adminContent">
        <h3 class="title_component">CHI TIẾT SẢN PHẨM</h3>
        <form class="form-add" enctype="multipart/form-data">
            <p>Tên sản phẩm</p>
            <input type="text" name="ProductName" class="input_el" id="nameProduct" value="@Model.ProductName" disabled />
            <p>Hình ảnh</p>
            <img src="~/imgProduct/@Model.ProductImage" alt="Product image" id="imagePreview" style="width: 7rem; height: 7rem; margin-bottom:0.5rem" />
            <p>Ngày tạo</p>
            <input type="text" name="CreateDate" class="input_el" value="@Model.CreateDate" disabled />
            <p>Giá bán</p>
            <input type="text" name="ProductPrice" step=0.01 class="input_el" id="priceProduct" value="@string.Format("{0:#,##0}", Model.ProductPrice)" disabled />
            <p>Loại sản phẩm</p>
            <input type="text" name="KindId" class="input_el" value="@Model.Kind.KindName" disabled />
            <p>Giảm giá</p>
            @if (Model.DiscountId == null)
            {
                <input type="text" name="DiscountId" class="input_el" id="nameProduct" value="Không khuyến mãi" disabled />
            }
            else
            {
                <input type="text" name="DiscountId" class="input_el" id="nameProduct" value="@Model.Discount.DiscountPercent %" disabled />
            }
            <p>Số lượng</p>
            <input type="text" name="Quantities" step=0.01 class="input_el" id="priceProduct" value="@Model.Quantities" disabled />
           <p class="addproduct-title">Mô tả chi tiết</p>
            @Html.Raw(Model.ProductDescription)
        </form>
    </section>
</section>
