@model ProjectTraining.Models.UserData

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<aside>
    <div id="sidebar" class="nav-collapse">

        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a href="/Admin/Orders">
                        <i class="fas fa-wallet"></i>
                        <span>Quản lý đơn hàng</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Products">
                        <i class="fa fa-book"></i>
                        <span>Quản lý sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Kinds">
                        <i class="fas fa-list-alt"></i>
                        <span>Quản lý danh mục</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Users" class="active">
                        <i class="fa fa-user"></i>
                        <span>Quản lý người dùng</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Comments">
                        <i class="fas fa-comment"></i>
                        <span>Quản lý bình luận</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Discounts">
                        <i class="fas fa-address-book"></i>
                        <span>Quản lý giảm giá</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Warehouses">
                        <i class="fas fa-address-book"></i>
                        <span>Quản lý kho</span>
                    </a>
                </li>
                <li>
                    <form action="@Url.Action("HandleLogout", "Login", new { area = "Admin" })" method="post">
                        <input class="inputLogout" type="submit" value="Đăng xuất" />
                    </form>
                </li>
            </ul>
        </div>
    </div>
</aside>
<!--main content start-->
<section id="main-content">
    <section class="wrapper" id="adminContent">
        <h3 class="title_component">CẬP NHẬT NGƯỜI DÙNG</h3>
        <form action="@Url.Action("Edit", "Users", new { area = "Admin" })" class="form-add" method="post">
            <input name="UserId" type="number" value="@Model.UserId" style="display: none">
            <p>Họ</p>
            <input name="FirstName" type="text" class="input_el" placeholder="Họ" id="username" value="@Model.FirstName" required>
            <p>Tên</p>
            <input name="LastName" type="text" class="input_el" placeholder="Tên người dùng mới" id="username" value="@Model.LastName" required>
            <p>Địa chỉ</p>
            <input name="Address" type="text" class="input_el" placeholder="Địa chỉ" id="address" value="@Model.Address" required>
            <p>Số điện thoại</p>
            <input name="Phone" type="tel" class="input_el" placeholder="Số điện thoại" id="phone" required minlength="9" value="@Model.Phone">
            <p>Email</p>
            <input name="Email" type="email" class="input_el" placeholder="Email" id="email" required value="@Model.Email">
            <p>Mật khẩu</p>
            <input name="PasswordEdit" type="password" class="input_el" placeholder="Mật khẩu" id="password" value="">
            <input name="Password" type="password" class="input_el" placeholder="Mật khẩu" id="password" value="@Model.Password" style="display:none">
            <p>Vai trò</p>
            <select id="role" name="Role" class="inp_product inp_choice">
                <option value="Admin">Admin</option>
                <option value="Khách hàng">Khách hàng</option>
            </select>
            <br>
            <input type="submit" value="Cập nhật" class="btn btn-primary" />
        </form>
    </section>
</section>